<div *ngIf="isLogin()">

    <h3><b>Hi, {{form.data.fname }} ( {{form.data.role}} )</b>
        <!-- <select #locale (change)="changeLocale(locale.value)">
            <option value="0">{{ 'LocaleSelect.Select' | translate }}</option>
            <option value="en">{{ 'LocaleSelect.English' | translate }}</option>
            <option value="hi">{{ 'LocaleSelect.Hindi' | translate }}</option>
        </select> -->
    </h3>
    <a (click)="forward()"><b>My Profile</b></a> |

    <a [routerLink]="['/changepassword']"><b>Change Password</b></a> |
    <a [routerLink]="['/user']"><b>Add User</b></a> |
    <a [routerLink]="['/userList']"><b>User List</b></a> |
    <a [routerLink]="['/role']"><b>Add Role</b></a> |
    <a [routerLink]="['/roleList']"><b>Role List</b></a> |
    <a [routerLink]="['/college']"><b>Add College</b></a> |
    <a [routerLink]="['/collegeList']"><b>College List</b></a> |
    <a [routerLink]="['/student']"><b>Add Student</b></a> |
    <a [routerLink]="['/studentList']"><b>Student List</b></a> |
    <a [routerLink]="['/marksheet']"><b>Add Marksheet</b></a> |
    <a [routerLink]="['/marksheetList']"><b>Markheet List</b></a> |
    <a [routerLink]="['/course']"><b>Add Course</b></a> |
    <a [routerLink]="['/courseList']"><b>Course List</b></a> |
    <a [routerLink]="['/subject']"><b>Add Subject</b></a> |
    <a [routerLink]="['/subjectList']"><b>Subject List</b></a> |
    <a [routerLink]="['/timetable']"><b>Add Timetable</b></a> |
    <a [routerLink]="['/timetableList']"><b>Timetable List</b></a> |
    <a [routerLink]="['/faculty']"><b>Add Faculty</b></a> |
    <a [routerLink]="['/facultyList']"><b>Faculty List</b></a> |
  
    


    <a (click)="logout()">
        <font color="blue"><b>Logout</b></font>
    </a>

</div>
<div *ngIf="!isLogin()">



    <h3>Hi, Guest</h3>
    <a [routerLink]="['/welcome']"><b>Welcome</b></a> |
    <a [routerLink]="['/login']"><b>Login</b></a>




</div>
<hr>
